.dubai-mo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dubai-mo-img-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #DEDFE3;
  padding: 10px;
  width: 272px;
  height: 232px;
  transition-duration: 0.6s;
  cursor: pointer;
}
.dubai-mo-img-wrap:hover{
  -webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.75);
}
.dubai-mo-section:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dubai-mo-section:nth-child(1) p{
  margin-left: 10px;
  font-weight: bold;
}
.dubai-mo-section > img {
  width: 50px !important;
  height: auto;
}
