.dubai-mo-desc label{
  font-style: italic !important;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px !important;
}
.hide-me-dubai{
  display: none !important;
}
.dubai-field {
  border: 1px solid #d1d1d1;
  background: white;
}
.delete-dubai-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition-duration: 0.5s;
}
td > img {
  width: 34px;
  height: auto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
td > img:hover {
  animation-name: hover-icon;
}
.delete-dubai-field > img {
  cursor: pointer;
}
.card-info{
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  table {
    width: 70% !important;
  }
}

th {
  padding-left: 10px !important;
}
.form-table {
  position: relative;
}
.additional-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 1000;
  background: white;
  transition-duration: 0.5s;
  overflow: hidden;
}
.additional-info-inner {
  position: relative;
  height: 100%;
  width: 100%;
}
.inner-info {
  position: absolute;
  bottom: 10px;
  right: 40px;
}
.img-placeholder > img:hover {
  animation-name: no-ani;
}
@keyframes no-ani {
  0% {}
  100% {}
}
@keyframes hover-icon {
  0% {transform: rotate(0deg)}
  15% {transform: rotate(20deg)}
  20% {transform: rotate(-15deg)}
  25% {transform: rotate(15deg)}
  30% {transform: rotate(-20deg)}
  50% {transform: rotate(0deg)}
  100% {transform: rotate(0deg)}
}
